--
-- PostgreSQL database dump
--

\restrict 3KgKP9rJ1iL2GpIirhnYw5gBYMyaLqvAmA48KSDekVFT9GDHkDoRYb5DOtBRMAN

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    team_id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.projects OWNER TO taskapp;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: taskapp
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO taskapp;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taskapp
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: task_activity_log; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.task_activity_log (
    id integer NOT NULL,
    task_id integer,
    actor_id integer,
    type text NOT NULL,
    details jsonb,
    at timestamp without time zone DEFAULT now(),
    CONSTRAINT task_activity_log_type_check CHECK ((type = ANY (ARRAY['created'::text, 'assigned'::text, 'unassigned'::text, 'status_changed'::text, 'updated'::text])))
);


ALTER TABLE public.task_activity_log OWNER TO taskapp;

--
-- Name: task_activity_log_id_seq; Type: SEQUENCE; Schema: public; Owner: taskapp
--

CREATE SEQUENCE public.task_activity_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_activity_log_id_seq OWNER TO taskapp;

--
-- Name: task_activity_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taskapp
--

ALTER SEQUENCE public.task_activity_log_id_seq OWNED BY public.task_activity_log.id;


--
-- Name: task_assignees; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.task_assignees (
    task_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.task_assignees OWNER TO taskapp;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    project_id integer NOT NULL,
    title text NOT NULL,
    description text,
    status text DEFAULT 'To-Do'::text NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT tasks_status_check CHECK ((status = ANY (ARRAY['To-Do'::text, 'In Progress'::text, 'Done'::text])))
);


ALTER TABLE public.tasks OWNER TO taskapp;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: taskapp
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO taskapp;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taskapp
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: team_memberships; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.team_memberships (
    user_id integer NOT NULL,
    team_id integer NOT NULL,
    role text NOT NULL,
    CONSTRAINT team_memberships_role_check CHECK ((role = ANY (ARRAY['Admin'::text, 'Member'::text])))
);


ALTER TABLE public.team_memberships OWNER TO taskapp;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.teams OWNER TO taskapp;

--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: taskapp
--

CREATE SEQUENCE public.teams_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_id_seq OWNER TO taskapp;

--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taskapp
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: taskapp
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text
);


ALTER TABLE public.users OWNER TO taskapp;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: taskapp
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO taskapp;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taskapp
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: task_activity_log id; Type: DEFAULT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_activity_log ALTER COLUMN id SET DEFAULT nextval('public.task_activity_log_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.projects (id, team_id, name) FROM stdin;
1	1	ECE1779 Task Board
\.


--
-- Data for Name: task_activity_log; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.task_activity_log (id, task_id, actor_id, type, details, at) FROM stdin;
\.


--
-- Data for Name: task_assignees; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.task_assignees (task_id, user_id) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.tasks (id, project_id, title, description, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: team_memberships; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.team_memberships (user_id, team_id, role) FROM stdin;
1	1	Admin
2	1	Member
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.teams (id, name) FROM stdin;
1	Team 14
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: taskapp
--

COPY public.users (id, email, password_hash, name) FROM stdin;
1	zicong.shao@mail.utoronto.ca	$2b$10$I7.W6U9Tv7ZQ3VgJk9JhDuofpUsY2es1vtSmKSAxnGCpLxjv7MJ6G	Zicong
2	a.chia@mail.utoronto.ca	$2b$10$0ekEkEK0QDAzUZraC5UxmuTEkE3DVyMVyDDR36.3h/bQ0usxoB6yy	Alex
\.


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: taskapp
--

SELECT pg_catalog.setval('public.projects_id_seq', 1, true);


--
-- Name: task_activity_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: taskapp
--

SELECT pg_catalog.setval('public.task_activity_log_id_seq', 1, false);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: taskapp
--

SELECT pg_catalog.setval('public.tasks_id_seq', 1, false);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: taskapp
--

SELECT pg_catalog.setval('public.teams_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: taskapp
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: task_activity_log task_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_activity_log
    ADD CONSTRAINT task_activity_log_pkey PRIMARY KEY (id);


--
-- Name: task_assignees task_assignees_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_pkey PRIMARY KEY (task_id, user_id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: team_memberships team_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT team_memberships_pkey PRIMARY KEY (user_id, team_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: projects projects_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: task_activity_log task_activity_log_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_activity_log
    ADD CONSTRAINT task_activity_log_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: task_activity_log task_activity_log_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_activity_log
    ADD CONSTRAINT task_activity_log_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: task_assignees task_assignees_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: task_assignees task_assignees_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tasks tasks_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: tasks tasks_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: team_memberships team_memberships_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT team_memberships_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: team_memberships team_memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taskapp
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT team_memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3KgKP9rJ1iL2GpIirhnYw5gBYMyaLqvAmA48KSDekVFT9GDHkDoRYb5DOtBRMAN

